html[data-theme="theme3"] {
    --color-primary: #e07020;
    --color-primary-dark: #d06010;
    --color-secondary: #b0ff10;
    --color-secondary-dark: #578918;
    --color-buttons: #da6a32;
    --color-dark: #6b6e73;
    --color-light: #f7dcdc;
    --color-typography: #ffffff;
}