html[data-theme="theme1"] {
    --color-primary: #e06030;
    --color-primary-dark: #d85020;
    --color-secondary: #d0ff20;
    --color-secondary-dark: #678918;
    --color-buttons: #fa5a22;
    --color-dark: #5b5e63;
    --color-light: #f7ecec;
    --color-typography: #ffffff;
}