html[data-theme="theme2"] {
    --color-primary: #d05000;
    --color-primary-dark: #c04000;
    --color-secondary: #a8ff30;
    --color-secondary-dark: #478918;
    --color-buttons: #ca4a22;
    --color-dark: #4b4e53;
    --color-light: #e7cccc;
    --color-typography: #ffffff;
}