@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your base theme settings */
@layer base {
  html {
    --color-primary: #e03e00;
    --color-primary-dark: #e03100;
    --color-secondary: #b8ff00;
    --color-secondary-dark: #577908;
    --color-buttons: #da4a12;
    --color-dark: #4b4e53;
    --color-light: #e7dcdc;
    --color-typography: #ffff;
  }
}

@import "themes/theme1.css";
@import "themes/theme2.css";
@import "themes/theme3.css";
@import "themes/theme4.css";
@import "themes/theme5.css";

body {
  font-family: 'Roboto', sans-serif;
}