.card {
    background: rgba(255, 255, 255, 0.9);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
}

.card:hover {
    background: rgba(255, 255, 255, 1);
}

.card h3 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    color: var(--color-secondary);
    margin-bottom: 1rem;
}

.card p,
.card ul {
    color: var(--color-dark);
}

.card ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}