/* styles.css */
.service-section {
  
  background-color: #1a1a1a; /* Use a consistent background color */
}

.service-display-container {
  @apply relative;

  background-color: #333; /* Add background color to ensure consistency */
  border-radius: 5px; /* Round the edges */
  overflow: hidden; /* Ensure child elements respect the border radius */
}

.service-display-overlay {
  @apply absolute inset-0 bg-gray-900 bg-opacity-40;
}



.service-display-content {
  @apply relative z-10 text-center h-[8rem];
}

.service-display-title {
  @apply text-4xl md:text-5xl py-6 z-10 text-green-100;
}

.service-display-typography-description {
  @apply text-primary-light mt-2 md:mt-4;
  flex-grow: 1; /* Make the description take up available space */
}

.service-display-action-button {
  @apply text-white bg-gradient-to-r from-secondary/0 via-secondary/50 to-secondary/0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.service-display-container:hover .service-display-title {
  @apply animate-shrink;
}

.service-display-action-row {
  @apply absolute inset-0 bg-gray-900 flex flex-col opacity-0;
}

.service-display-container:hover .service-display-action-row {
  @apply opacity-95 transition-opacity duration-200;
}
